{% extends 'base.html' %}
{% load static %}

{% block content %}
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
    <script src="https://code.iconify.design/iconify-icon/1.0.5/iconify-icon.min.js"></script>
    <form action="" novalidate>
        <div class="full-search">
            <div class="input-box">
                <i class="uil uil-search"></i>
                <iconify-icon icon="uil:search"></iconify-icon>
                <!--<ion-icon name="search-outline"></ion-icon>-->
                <!--<input type="text" placeholder="Search here..."/>!-->
                {{ form }}
                <button class="button" type="submit">Search</button>
            </div>
        </div>
    </form>
    {% for post in posts %}
        <div class="content">
            <div class="ind1">
                <a href="{{ post.get_absolute_url }}" class="link-img"><img src="{{ post.image.url }}" class="img_link"></a>
                <a href="{{ post.get_absolute_url }}" class="axs"><p href="{{ post.get_absolute_url }}" class="h3"
                                                                     target="_blank">{{ post.body|truncatewords:8 }}</p>
                </a>
            </div>
        </div>
    {% endfor %}
{% endblock %}
